.background{
    filter: blur(1px) !important;
    opacity: 0.9;
}

/* Navbar: no need for the different states ... */

/*
.initial-navbar {
  background-color: white;
}


.initial-navbar .navbar-brand {
 color: #1c2d41;
  font-weight: 600;
}

.initial-navbar li a {
 color: #1c2d41;
}

.initial-navbar .navbar-nav .active,
.initial-navbar li a:hover {
  color: #2098d1;
  transition: all 0.3s ease-out;
  border-bottom: 2px solid #2098d1;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(34, 136, 168, 0.1) 0%
  );
}
*/

/* Navbar: Using white font + transparent background */

/*
.initial-navbar .navbar-brand {
  color: #f9fafc !important;
  font-weight: 600;
}

.initial-navbar li a {
  color: #f9fafc !important;
  font-weight: 500;
}

.navbar-collapse.show {
  background-color: transparent !important;
}


.navbar-collapse.collapsing {
  background-color: transparent !important;
}

.dropdown-menu {
  background-color: transparent !important;
}
*/